In [1]:
import os
import shutil
import pandas as pd
from tqdm import tqdm

# train 데이터

In [2]:
# csv 파일 읽기
df = pd.read_csv("./t_라벨_참외_0정상.csv")
df

,image,height,width,classID,xtl,ytl,xbr,ybr
0,V006_77_0_00_10_01_13_0_b08_20201020_0000_S01_...,3000,4000,1,1624,852,2816,2197
1,V006_77_0_00_10_01_13_0_b08_20201020_0001_S01_...,3000,4000,1,1338,778,2610,2487
2,V006_77_0_00_10_01_13_0_b08_20201020_0002_S01_...,3000,4000,1,1739,844,2852,2634
3,V006_77_0_00_10_01_13_0_b08_20201020_0003_S01_...,3000,4000,1,1782,847,2922,2543
4,V006_77_0_00_10_01_13_0_b08_20201020_0004_S01_...,3000,4000,1,1777,692,3092,2638
...,...,...,...,...,...,...,...,...
19323,V006_77_0_00_10_05_13_0_c43_20201028_0163_S01_...,3024,4032,5,1431,8,2211,3010
19324,V006_77_0_00_10_05_13_0_c43_20201028_0164_S01_...,3024,4032,5,1170,208,2932,2960
19325,V006_77_0_00_10_05_13_0_c43_20201028_0165_S01_...,3024,4032,5,1160,438,2311,1959
19326,V006_77_0_00_10_05_13_0_c43_20201028_0166_S01_...,3024,4032,5,1311,28,3052,3024
19327,V006_77_0_00_10_05_13_0_c43_20201028_0167_S01_...,3024,4032,5,890,718,1941,2810

In [7]:
# 1(열매), 2(꽃), 5(줄기) 이미지 개수 확인 -> 2329개여야 함
use_df = df.loc[df['classID'].isin([1])]
use_df.to_csv("./temp.csv", index=False)

In [24]:
# 1(열매), 2(꽃), 5(줄기) 이미지 개수 확인 -> 2329개여야 함
len(df.loc[df['classID'].isin([2]), 'image'])

217

In [7]:
src_path = "source_images_path"
dst_path = "destination_folder_path"

# 복사할 이미지 목록 생성
images_to_copy = df.loc[df['classID'].isin([1]), 'image'].tolist()

# 해당되는 이미지만 복사
for img in tqdm(images_to_copy, desc="Copying images", unit="image"):
    src_file = os.path.join(src_path, img)
    dst_file = os.path.join(dst_path, img)

    # 파일이 존재하는지 확인
    if os.path.exists(src_file):
        shutil.copy(src_file, dst_file)
    else:
        print(f"Warning: File not found - {src_file}")

print("Train 파일 복사 완료")

Copying images: 100%|██████████| 472/472 [01:12<00:00,  6.49image/s]

Train 파일 복사 완료

# validation 데이터

In [8]:
# csv 파일 읽기
df = pd.read_csv("./v_라벨_참외_0정상.csv")
df

,image,height,width,classID,xtl,ytl,xbr,ybr
0,V006_77_0_00_10_03_11_0_b08_20201210_0000_S01_...,4000,1800,3,143,696,1613,1927
1,V006_77_0_00_10_03_11_0_b08_20201210_0002_S01_...,1800,4000,3,1584,4,3307,1206
2,V006_77_0_00_10_03_11_0_b08_20201210_0003_S01_...,4000,1800,3,10,783,1573,2143
3,V006_77_0_00_10_03_11_0_b08_20201210_0004_S01_...,4000,1800,3,3,849,1726,2326
4,V006_77_0_00_10_03_11_0_b08_20201210_0005_S01_...,1800,4000,3,1837,9,3261,1645
...,...,...,...,...,...,...,...,...
331,V006_77_0_00_10_05_12_0_c20_20201222_0030_S01_...,4032,3024,5,766,1811,2527,2179
332,V006_77_0_00_10_05_12_0_c23_20201130_0027_S01_...,4032,3024,5,1125,558,2282,4032
333,V006_77_0_00_10_05_12_0_c23_20201130_0032_S01_...,4032,3024,5,1348,905,1837,4032
334,V006_77_0_00_10_05_12_0_c23_20201130_0037_S01_...,4032,3024,5,821,0,1881,4032
335,V006_77_0_00_10_05_12_0_c23_20201130_0042_S01_...,4032,3024,5,1339,1012,2067,3472

In [9]:
# 1(열매), 2(꽃), 5(줄기) 이미지 개수 확인 -> 48개여야 함
len(df.loc[df['classID'].isin([1]), 'image'])

0

In [ ]:
src_path = # 원본 이미지 폴더 경로
dst_path = # 복사할 이미지 폴더 경로

# 복사할 이미지 목록 생성
images_to_copy = df.loc[df['classID'].isin([1, 2, 5]), 'image'].tolist()

# 해당되는 이미지만 복사
for img in tqdm(images_to_copy, desc="Copying images", unit="image"):
    src_file = os.path.join(src_path, img)
    dst_file = os.path.join(dst_path, img)

    # 파일이 존재하는지 확인
    if os.path.exists(src_file):
        shutil.copy(src_file, dst_file)
    else:
        print(f"Warning: File not found - {src_file}")

print("Validation 파일 복사 완료")